.footer {
    background: #f9f9f9;
    padding: 20px;
    color: #333;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensures the footer spans the full height of the viewport */
  
    &-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      max-width: 1200px; /* Optional: to constrain content width */
      gap: 20px; /* Space between sections */
    }
  
    .footer-section {
      flex: 1; /* Allows sections to share equal space */
      margin-bottom: 20px;
  
      .footer-title {
        background: none;
        border: none;
        font-size: 1.2rem;
        font-weight: bold;
        cursor: pointer;
        text-align: left;
        padding: 10px 0;
        color: #333;
  
        &:after {
          content: "▼";
          float: right;
          font-size: 0.8rem;
          transform: rotate(0deg);
          transition: transform 0.3s ease;
        }
  
        &.active:after {
          transform: rotate(180deg);
        }
      }
  
      .footer-links {
        display: flex; /* Makes links appear in a row */
        flex-wrap: wrap; /* Allows wrapping if content overflows */
        list-style: none;
        padding-left: 0;
        margin-top: 10px;
        gap: 10px; /* Space between links */
  
        li {
          color: #333;
          font-size: 1rem;
        }
      }
    }
  
    .footer-bottom {
      text-align: center;
      font-size: 0.9rem;
      margin-top: auto; /* Pushes it to the bottom of the flex container */
      width: 100%;
  
      a {
        color: #0071e3;
        text-decoration: none;
        margin-bottom: 10px;
        display: inline-block;
      }
  
      p {
        margin-top: 10px;
        font-size: 0.8rem;
        color: #333;
  
        a {
          text-decoration: none;
          color: #0071e3;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  
    // Responsive styles
    @media (max-width: 820px) {
      &-content {
        flex-direction: column; /* Stack sections vertically */
        align-items: flex-start; /* Align items to the left */
      }
  
      .footer-section {
        .footer-links {
          flex-direction: column; /* Stack links vertically */
          gap: 5px; /* Adjust spacing between links */
        }
      }
    }
  }
  